body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  height: 1500px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #191919;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    color: #888;
}

.arrow-down {
  margin-top: 150px;
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #7CA1CA;
}

#container {
  width: 100%;
  text-align: center;
}

#footerMenu {
  background: #7CA1CA;
  color: #FFF;
  width: 100%;
  height: 0px;
  position: fixed;
  z-index: 300;
  bottom: 0;
  overflow: none;
  left: 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px -4px 38px rgba(50, 50, 50, 0.50);
  -moz-box-shadow:    0px -4px 38px rgba(50, 50, 50, 0.50);
  box-shadow:         0px -4px 38px rgba(50, 50, 50, 0.50);
}

#footerMenu.show {
  height: 65px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

#footerMenu ul.navigation li {
  margin-top: 10px;
  float: left;
  margin-right: 16px;
  display: block;
}

#footerMenu ul.navigation li a:hover {
  background-color: #99AABD;
  color: white;
}

#footerMenu ul.navigation li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #172E48;
  border-radius: 3px;
}